$main: rgb(242, 245, 246);
$light: rgb(255, 255, 222);
$primary: rgb(196, 153, 186);
$primary-blue: rgb(108, 146, 217);
$secondary: rgb(202, 211, 216);
$secondary-light: rgb(244, 224, 109);
$accent: rgb(255, 115, 150);
$text: rgb(112, 67, 136);